body {
  background-color: #F8F7F3; // BROKEN WHITE
  color: #1e2a5e;
  font-family: "Poppins", sans-serif;
}
.navbar-custom {
  background-color: #8EACCD;
  color: white;
}


button {
  background-color: #55679c;
  color: #e1d7b7;
}

button:hover {
  background-color: #7c93c3;
  color: #1e2a5e;
}

.table-custom {
  background-color: #f8f9fa;
  color: #1e2a5e;
}

.table-custom thead {
  background-color: #55679c;
  color: #e1d7b7;
}

.table-custom tbody tr:hover {
  background-color: #7c93c3;
}

.table-custom tbody tr:nth-child(even) {
  background-color: #e1d7b7;
}

.table-custom tbody tr:nth-child(odd) {
  background-color: #f8f9fa;
}

.btn-rounded {
  border-radius: 50%;
}

.btn-extra-small {
  font-size: 10px;
  padding: 2px 6px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background: #ececec;
}

/*------------ Login container ------------*/

.box-area{
    width: 930px;
}

/*------------ Right box ------------*/

.right-box{
    padding: 40px 30px 40px 40px;
}

/*------------ Custom Placeholder ------------*/

::placeholder{
    font-size: 16px;
}

.rounded-4{
    border-radius: 20px;
}
.rounded-5{
    border-radius: 30px;
}


/*------------ For small screens------------*/

@media only screen and (max-width: 768px){

     .box-area{
        margin: 0 10px;

     }
     .left-box{
        height: 100px;
        overflow: hidden;
     }
     .right-box{
        padding: 20px;
     }

}

.btn-login {
  background: #55679c;
  border: none;
}

  nav.navbar-custom {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }


