{% extends 'base.html' %} 
{% block title %} {{ website_title }} {% endblock %}

{% block meta %} 
{% include 'navbar.html' %}
<meta
  name="description"
  content="This is a product page for {{ website_title }}"
/>
{% endblock %} 

{% block header %} 
Welcome to {{ website_title }} 
{% endblock %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <div class="service-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Nai Express</h1>

    <p class="lead">
      No other service is like Nai Express—because when others say 'nah,' we say 'Nai!' 🚀
    </p>
    <p class="lead">Nai straight at your service, faster than you can blink!</p>
  </div>

  <hr style="border-top: 1px solid #bbb; width: 80%; margin: 20px auto" />

  <div class="container">

    <div class="container">
      {% if not products %}
      <p>Oh no! Sadly, there are no products available at the moment 😔.</p>
      {% else %}
      <div class="columns-1 sm:columns-2 lg:columns-3 gap-6 space-y-6 w-full">
        {% for product in products %}
          {% include 'card_product.html' with product=product %}
        {% endfor %}
      </div>
      {% endif %}
      
      <br />
      <div class="button-group">
        <!-- Add New Product Button -->
        <a href="{% url 'main:create_product' %}" class="btn btn-primary btn-sm d-flex align-items-center shadow-sm" style="border-radius: 30px; padding-left: 15px; padding-right: 15px;">
          <i class="fas fa-box-open me-2"></i> Add Product
        </a>
      </div>
      
      
  </div>
</div>
{% endblock %}
